main {
  background-color: #eee;
  height: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

#delivery {
  margin-top: 5rem;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem 0;
  text-align: center;
  margin-bottom: 40px;
}

#delivery input[type="email"] {
  font: inherit;
  font-weight: 400;
  margin: 0.5rem auto;
  max-width: 275px;
  width: 100%;
  height: 2.5rem;
  padding: 5px 10px;
  border: none;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

#delivery input[type="email"]:placeholder {
  opacity: 0.5;
}

.btn {
  border: none;
  background-color: #f1c40f;
  text-transform: uppercase;
  font-family: inherit;
  font-size: inherit;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  cursor: pointer;
  transition: all 0.25 ease;
  -webkit-transition: all 0.25 ease;
  -moz-transition: all 0.25 ease;
  -ms-transition: all 0.25 ease;
  -o-transition: all 0.25 ease;
}

#delivery input[type="button"] {
  margin: 1rem auto;
  max-width: 150px;
  width: 100%;
  height: 40px;
}

#delivery input[type="button"]:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

#delivery input[type="button"]:active {
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -moz-transform: scale(.95);
  -ms-transform: scale(.95);
  -o-transform: scale(.95);
}

.container {
  padding: 0 50px;
  max-width: 1024px;
}

.activity-company {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
    -ms-flex-align: center;
      align-items: center;
}

.activity_item {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  line-height: 1.25;
  margin-bottom: 40px;
}

.activity_item .icon {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: darkorange;
  padding: 5px;
}

.activity_item .description {
  margin: 0 auto;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  padding: 0 20px;
  word-wrap: break-word;  
  display: -webkit-box;  
  display: -ms-flexbox;  
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/*--------------------------*/
#work {
  padding-top: 60px;
}

.video-works {
  position:relative;
  padding: 0 0 56.25% 0;
  height:0;
  overflow:hidden;
}

.video-works > iframe {
  display: block;
  margin: 0 auto;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
/*--------------------------*/

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  padding-top: 80px;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #000000;
  font: inherit;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.card:nth-of-type(1), .card:nth-of-type(2) {
  margin-right: 15px;
}

.title {
  background-color: #ddd;
  padding: 18px 0;
  text-align: center;
  text-transform: uppercase;
}

.price {
  font: inherit;
  font-size: 2rem;
  font-weight: bold;
  padding: 15px 5px;
  text-align: center;
}

.price:before {
  content: '$';
  font: inherit;
  font-style: italic;
}

.description {
  margin:0 auto 100px;
  width: 85%;
  text-align: justify;
}

.add-to-card {
  position: absolute;
  bottom: 0;
  margin: 30px auto 15px;
  padding: 0px 20px;
  max-width: 100px;
  height: 40px;
  font: 400 13.3333px Arial;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.add-to-card {
  transition: background-color 1.2s ease;
  -webkit-transition: background-color 1.2s ease;
  -moz-transition: background-color 1.2s ease;
  -ms-transition: background-color 1.2s ease;
  -o-transition: background-color 1.2s ease;
}

.add-to-card:hover {
  background-color: #FFA500;
}

.add-to-card:active {
  border: 2px solid #a505f5;
}

footer {
  background-color: #ddd;
  margin-top: 60px;
  padding: 15px;
  font: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 10px;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 10px;
}

footer span {
    color: #919191;
}

/* ------------------------------------ */

@media screen and (max-width: 767px) { 
  .products {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }

  .card {
    margin-bottom: 30px;
  }

  .card:nth-of-type(1), .card:nth-of-type(2) {
    margin-right: 0px;
  }
}

/* ------------------------------- */
@media only screen and (max-width: 480px) {
  .activity-company {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .activity_item { 
    margin-top: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .activity_item .description {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .activity_item .description h2 {
    margin-bottom: 5px;
  }

  .activity_item .description p {
    text-align: justify;
  }
}
